.button
{
    -fx-background-color: #282828;
}
.button:hover
{
    -fx-background-color: #5f5f5f;
}
.button:pressed
{
    -fx-background-color: #336600;
}

.text-field {
    -fx-background-color: #2C2C2C;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: white;
}

.text-field:focused {
    -fx-background-color: #3A3A3A;
}

#scrollPane {
    -fx-background-color:  #282828;
}


.menu-bar {
    -fx-padding: 5px;
    -fx-background-color:   #1E1E1E;
    -fx-font-size: 14;
}

.menu, .menu .label, .menu-item .label {
    -fx-background-color:  #1E1E1E;
    -fx-text-fill: white;
}


